version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: auth_api_postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: authdb
      POSTGRES_USER: authuser
      POSTGRES_PASSWORD: authpass
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
